* {
    /* background-color: rgb(255, 255, 255); */
    color: (0, 0, 255);
    background-image: url('bkg_fern.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    justify-content: center;
    flex-direction: row;
}

.button {
    justify-content: center;
    flex-direction: row;
}

input {
    justify-content: center;
    flex-direction: row;
}

#plantfacts {
    color: red;
}
